.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #5f12d1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1, h2 {
    color: #fb7b2c;
    text-align: center;
  }
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background-color: #a9a7a5
  }
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    margin-right: 13px;
  }
  button:hover {
    background-color: #45a049;
  }
  pre {
    background-color: #a9a7a5;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: pre-wrap;
  }